version: "3"
services:
  modsec:
    build: "."
    environment:
      - PROXY_UPSTREAM_HOST=site:80
      - PARANOIA=1
      - SEC_RULE_AFTER_FOO=SecRuleRemoveById 920420
    ports:
      - "8080:80"
  site:
    image: "nginx"
    ports:
      - "8181:80"
