version: "3"
services:
  modsec:
    build: "."
    environment:
      - PROXY_UPSTREAM_HOST=site:80
      - PARANOIA=1
      - SEC_RULE_BEFORE_WH=SecRule REQUEST_HEADERS "@rx WhiteHat Security" "id:101,phase:1,t:lowercase,pass"
      - SEC_RULE_AFTER_FOO=SecRuleRemoveById 920420
      - LOG_JSON=true
    ports:
      - "80:80"
  site:
    image: "nginx"
    ports:
      - "8181:80"
    volumes:
    - ./data:/usr/share/nginx/html
